.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 400px;
}

#descriptionParagraph {
    color: black;
}

.section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
    background-color: #F0F0F0;
}

#descriptionParagraph {
    color: black;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 50px;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}